<app-sidebar></app-sidebar>

 <!-- Page title-->
 <div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Inventario</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los inventarios del producto.</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a class="text-nowrap" [routerLink]="['/panel/productos']">Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
  </div>

  <div class="card box-shadow-sm" *ngIf="producto == undefined">
    <div class="card-body">
      <h3 class="text-center">No se encontro el registro!!!</h3>
      <div class="row">
          <div class="col-3 mx-auto">
              <img src="assets/img/error.png" alt="" style="width: 100%;">
          </div>
      </div>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
  	</div>
  </div>

  <div class="card box-shadow-sm" *ngIf="producto">
		<div class="card-header">
				<h5 style="margin-bottom: 0px;">Inventario de {{producto.titulo}}</h5>
		</div>
		<div class="card-header">
			<div class="row">
				<div class="col-12">
					<form #inventarioForm="ngForm" (ngSubmit)="registroInventario(inventarioForm)" class="form-inline">
							<label class="sr-only">Cantidad</label>
							<input required class="form-control mb-3 mr-sm-4" type="text" placeholder="Cantidad" name="cantidad" [(ngModel)]="inventario.cantidad">

							<label class="sr-only">Proveedor</label>
							<input required class="form-control mb-3 mr-sm-4" type="text" placeholder="Proveedor" name="proveedor" [(ngModel)]="inventario.proveedor">

							<button class="btn btn-primary mb-3 mr-3" type="submit">Ingresar</button>

							<button class="btn btn-success mb-3" type="button" (click)="downloadExcel()">Exportar a Excel</button>
					</form>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Admin</th>
							<th>Cantidad</th>
							<th>Proveedor</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<ng-container *ngIf="inventarios.length == 0">
						<tbody>
							<tr>
								<td colspan="4" class="text-center">
									<span class="text-muted">No hay registros de inventario</span>
								</td>
							</tr>
						</tbody>
					</ng-container>

					<ng-container>
						<tbody *ngFor="let item of inventarios">
							<tr>
									<td>
											{{item.admin.nombres}} {{item.admin.apellidos}}
									</td>
									<td>
										{{item.cantidad}}
								</td>
								<td>
										{{item.proveedor}}
								</td>
								<td>
									<button class="btn btn-danger btn-sm" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">
										<i class="cxi-delete"></i>
									</button>

									<div class="modal fade" id="delete-{{item._id}}" tabindex="-1">
											<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
															<div class="modal-header">
																	<h5 class="modal-title">Eliminar producto</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
															</div>
															<div class="modal-body">
																	<p>¿Desea eliminar el producto este registro?</p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
																<button type="button" (click)="eliminar(item._id)" class="btn btn-primary">Eliminar</button>
																	<button *ngIf="loadBtn" class="btn btn-secondary" disabled>
																		<span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
																		Eliminando...
																	</button>
															</div>
													</div>
											</div>
									</div>
							</td>
							</tr>
						</tbody>
					</ng-container>



				</table>
			</div>
		</div>
  </div>
