<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
        <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap" href="https://getbootstrap.com/docs/4.5/components/forms/" target="_blank" rel="noopener">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Filtro de clientes</h5>
    </div>
    <div class="card-header">
        <form class="form-inline pt-2">
            <label class="sr-only" for="inline-form-input-name">Apellidos</label>
            <input class="form-control mb-3 mr-sm-4" type="text" id="inline-form-input-name" placeholder="John Doe">
            <label class="sr-only" for="inline-form-input-username">Correo</label>
            <div class="input-group mb-3 mr-sm-4">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input class="form-control" type="text" id="inline-form-input-username" placeholder="Username">
            </div>
        
            <button class="btn btn-primary mb-3" type="submit">Buscar cliente</button>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>CEO, Founder</td>
                    <td>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Something else here</a>
                        </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Anna</td>
                    <td>Cabana</td>
                    <td>Designer</td>
                    <td>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Something else here</a>
                        </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Kale</td>
                    <td>Thornton</td>
                    <td>Developer</td>
                    <td>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Something else here</a>
                        </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>A>
        </div>
    </div>
    <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                <a href="#" class="page-link">Prev</a>
                </li>
                <li class="page-item d-sm-none">
                <span class="page-link page-link-static">2 / 5</span>
                </li>
                <li class="page-item d-none d-sm-block">
                <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active d-none d-sm-block" aria-current="page">
                <span class="page-link">
                    2
                    <span class="sr-only">(current)</span>
                </span>
                </li>
                <li class="page-item d-none d-sm-block">
                <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item d-none d-sm-block">
                <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item d-none d-sm-block">
                <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                <a href="#" class="page-link">Next</a>
                </li>
            </ul>
            </nav>
    </div>
</div>    