<app-sidebar></app-sidebar>

<!-- formulario configuraciones-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Variedades</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">
            Este módulo se establece las variedades del producto.
        </p>
    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px">Variedad de productos</h5>
    </div>

    <ng-container *ngIf="producto">
        <div class="card-body">
            <div style="max-width: 48rem">
                <div class="row mb-5">
                    <div class="col-md-4" style="padding-right: 0px">
                        <!-- Square thumbnail -->
                        <img [src]="url + 'obtener-portada/' + producto.portada" class="img-thumbnail rounded-0" alt="Square image" />
                    </div>
                    <div class="col-md-8" style="padding-left: 0px">
                        <div class="card" style="height: 100% !important; background: #f5eeee">
                            <div class="card-body">
                                <h3 class="card-product-title text-truncate mb-2">
                                    <a class="nav-link mb-3">{{ producto.titulo }}</a>
                                    <p class="text-muted">{{ producto.descripcion }}</p>
                                    <div class="d-flex align-items-center">
                                        <span class="h5 d-inline-block mb-0 text-danger">${{ producto.precio }}</span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Titulo de lavariedad</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" required id="text-input"
                            placeholder="Titulo de la variedad" name="titulo_variedad"
                            [(ngModel)]="producto.titulo_variedad" />
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Variedades</label>
                    <div class="col-md-9">
                        <!-- Button addon on the right -->
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Nueva variedad" name="nueva_variedad"
                                [(ngModel)]="nuevaVariedad" />
                            <button class="btn btn-primary" type="button" (click)="agregarVariedad()">
                                Agregar
                            </button>
                        </div>
                        <!-- Button addon on the right -->
                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <!-- config -->
                        <div class="table-responsive mt-3">
                            <table class="table table-sm" *ngIf="producto.variedades">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="producto.variedades.length == 0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="tex-center">
                                                <span class="text-muted">No hay variedades disponibles</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                                <ng-container *ngIf="producto.variedades.length >= 1">
                                    <tbody *ngFor="let item of producto.variedades; let indice = index">
                                        <tr>
                                            <td>{{ item.titulo }}</td>
                                            <td>
                                                <a style="cursor: pointer" class="text-danger"
                                                    (click)="eliminarVariedad(indice)">[Eliminar]</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!loadBtn" class="btn btn-primary mr-3" type="button" (click)="actualizar()">
                Guardar cambios
            </button>
            <a class="btn btn-warning" [routerLink]="['/panel/productos']"
                routerLinkActive="router-link-active">Regresar</a>
            <!-- Button with growing spinner and text -->
            <button *ngIf="loadBtn" type="button" class="btn btn-secondary">
                <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                Guardando...
            </button>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="producto == undefined">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">No se encontro el registro!!!</h3>
            <div class="row">
                <div class="col-3 mx-auto">
                    <img src="assets/img/error.png" alt="" style="width: 100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button *ngIf="loadBtn" class="btn btn-secondary" disabled>
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            Actualizando...
        </button>
        <a [routerLink]="['/panel/productos']" class="btn btn-warning">Regresar</a>
    </div>
</ng-container>